.text-box {
    -fx-background-color: rgba(229, 18, 18, 0.2);
    -fx-padding: 10;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 32px;
    -fx-text-fill: white;
}